{
  "JCystems": {
    "AgentFrameworkSampler.DotNet.WebApp": {
      "AzureCredential": {
        "TenantId": "FIXME",
        "ClientId": "FIXME",
        "ClientSecret": "FIXME"
      }
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Debug"
    }
  }
}
