name: semantic-kernel-sampler-py

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  pull_request:
    paths:
      - python/semantic-kernel-sampler-py/**
      - .github/workflows/uv_ci.yml
      - .github/workflows/branch.python.semantic-kernel-sampler-py.yml

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  WORKSPACE: python/semantic-kernel-sampler-py

jobs:
  verify:
    uses: ./.github/workflows/uv_ci.yml
    with:
      working-directory: python/semantic-kernel-sampler-py

  docker_build__matrix:
    needs: verify
    name: docker build --target
    continue-on-error: true
    strategy:
      max-parallel: 10
      matrix:
        include:
          # base > uv > dev > tested
          - target: tested

          # final release
          # base > uv > built
          - target: release

    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: percebus/github-actions-docker/.github/actions/build@main
        with:
          repository-name: ${{ github.event.repository.name }}.${{ env.WORKSPACE }}
          working-directory: ${{ env.WORKSPACE }}
          target: ${{ matrix.target }}
          scan-image: "false"
