name: "semantic-kernel-sampler-py"

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  pull_request:
    paths:
      - "python/semantic-kernel-sampler-py/**"
      - ".github/workflows/branch.python.semantic-kernel-sampler-py.yml"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  uv_ci:
    uses: ./.github/workflows/uv_ci.yml
    with:
      working-directory: python/semantic-kernel-sampler-py
