name: "ai-evaluator-py"

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  pull_request:
    paths:
      - "python/ai-evaluator-py/**"
  push:
    branches-ignore:
      - "main"
    paths:
      - "python/ai-evaluator-py/**"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  uv_ci:
    uses: ./.github/workflows/uv_ci.yml
    with:
      working-directory: python/ai-evaluator-py
