name: "Re-Usable: dotnet"

permissions:
  contents: read

on:
  workflow_call: # SRC: https://docs.github.com/en/actions/using-workflows/reusing-workflows
    inputs:
      dotnet-project-name:
        description: Project name
        required: true
        type: string

      dotnet-version:
        description: dotnet version
        required: true
        type: string

      dotnet-target-framework:
        description: dotnet target framework
        required: true
        type: string

      dotnet-project:
        description: dotnet project
        required: false
        type: string
        default: "./*.sln*"

      dotnet-configuration:
        description: dotnet configuration
        required: false
        default: Release
        type: string

env:
  # .NET
  WORKSPACE: ./dotnet/${{ inputs.dotnet-project-name }}

jobs:
  dotnet:
    name: dotnet * ${{ inputs.dotnet-project-name }}
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: percebus/github-actions-dotnet/.github/actions/setup@main
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - uses: percebus/github-actions-dotnet/.github/actions/restore@main
        with:
          working-directory: ${{ env.WORKSPACE }}
          dotnet_project: ${{ inputs.dotnet-project }}

      - uses: percebus/github-actions-dotnet/.github/actions/build@main
        with:
          working-directory: ${{ env.WORKSPACE }}
          dotnet_project: ${{ inputs.dotnet-project }}
          dotnet_configuration: ${{ inputs.dotnet-configuration }}

      - name: bin.zip
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.dotnet-project-name }}.WebApp.zip
          path: ${{ env.WORKSPACE }}/WebApp/bin/${{ inputs.dotnet-configuration }}/${{ inputs.dotnet-target-framework }}
